{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit user: {{ user.username }}</h1>
    {{ form_start(user_edit_form) }}
    {{ form_widget(user_edit_form) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
    {{ form_end(user_edit_form) }}
{% endblock %}