{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>User list</h1>
                {% for user in users %}
                    <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">{{ user.username }}</a><br/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}